{% extends "base.html" %}
{% load static %}
{% block content %}

        <!-- Info about the site -->
        <div class="text-center mb-2">
            <h1 class="display-5 fw-bold">Contact Us</h1>
        </div>

        <div class="row">
            <div class="col-md-1 mb-2">
            </div>
            <div class="col-md-10 mb-3">
                <h2 class = "about_line">General Information:</h2>
                <p class = "about_text">Our dedicated support center is very happy to answer any questions you may have in relation to 
                    the site and how it works. For any non-technical questions you may have, please feel free to email us at 
                    <i>support@fixit.com</i>. If you have any questions in relation toe your data and its use, you can contact us at
                    <i>privacy@fixit.com</i>, or see our privacy policy<a href="{% url 'privacy' %}" class="footer-link mx-2">here</a>.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1 mb-2">
            </div>
            <div class="col-md-10 mb-3">
                <h2 class = "about_line">Technical Questions/ Bug Reports:</h2>
                <p class = "about_text">If you experience any technical issues while using the site, we would be very grateful if you 
                    could contact us. Please email us at <i>bugs@fixit.com</i> describing what happened in detail. If possible, we 
                    would also appreciate any screenshots you could provide of the issue in question.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1 mb-2">
            </div>
            <div class="col-md-10 mb-3">
                <h2 class = "about_line">Careers:</h2>
                <p class = "about_text">As a startup, we are keen to attract the best talent we can to provide the best experience for our users. 
                    We are at present looking to expand our team with talented individuals in the areas of UX/UI, data analytics and customer service.
                    For further information, please send a CV and cover letter to <i>recruitment@fixit.com</i>.</p>
            </div>
        </div>
        
{% endblock %}